# Scrutinize the data

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
#Loading the dataset
penguins_size = pd.read_csv('Data Resources/penguins_size.csv', sep = ",")
penguins_size.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [2]:
import numpy as np
print(np.__version__)

1.16.5

In [3]:
print("Shape is: ", penguins_size.shape)

Shape is:  (344, 7)

In [4]:
# Visualize the data types using the features info() function

penguins_size.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

# Data Cleaning

In [5]:
penguins_size.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [6]:
# Imputing the missing values with the mean of the corresponding features 
penguins_size["sex"].value_counts()

MALE      168
FEMALE    165
.           1
Name: sex, dtype: int64

In [7]:
# Substituting the NaN values using the 'Male'
penguins_size['sex'] = penguins_size['sex'].fillna('MALE')

In [8]:
# Dropping all NaN Values in the Penguins Data Frame 
penguins_size.drop(axis = 0, inplace = True, index = 336)
penguins_size = penguins_size.dropna(axis = 0, how ='any') 
penguins_size.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [9]:
# Checking if there is any duplicate rows 
duplicated = penguins_size.duplicated()
print(duplicated.sum())

0

# Statistical Insights

In [11]:
# Providing a statistical analysis on the Penguins DF
penguins_size.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        341.000000       341.000000         341.000000   341.000000
mean          43.920235        17.155425         200.868035  4199.780059
std            5.467516         1.976124          14.055255   802.300201
min           32.100000        13.100000         172.000000  2700.000000
25%           39.200000        15.600000         190.000000  3550.000000
50%           44.400000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [12]:
penguins_size['species'].value_counts()

Adelie       151
Gentoo       122
Chinstrap     68
Name: species, dtype: int64

In [13]:
# Find body mass mean for each species.
mean_bodymass = penguins_size.groupby('species')['body_mass_g'].mean()
mean_bodymass

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5077.663934
Name: body_mass_g, dtype: float64

# Data Visualization

In [ ]:
#Relationship of the culmen length and sex of the penguins.

fig = plt.figure(figsize=(5,8))
ax= sns.boxplot(x = penguins_size.sex, y=penguins_size['culmen_length_mm'],orient="v", palette = "cividis")
plt.title('Culmen_length_mm')
plt.show()