# Scrutinize the data

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
#Loading the dataset
penguins_size = pd.read_csv('penguins_size.csv', sep = ",")
penguins_size.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [8]:
import numpy as np
print(np.__version__)

1.21.5

In [3]:
print("Shape is: ", penguins_size.shape)

Shape is:  (344, 7)

In [6]:
# Visualize the data types using the features info() function

penguins_size.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

# Data Cleaning

In [21]:
penguins_size.isnull().sum()

species              0
island               0
culmen_length_mm     2
culmen_depth_mm      2
flipper_length_mm    2
body_mass_g          2
sex                  0
dtype: int64

In [22]:
# Imputing the missing values with the mean of the corresponding features 
penguins_size["sex"].value_counts()

MALE      178
FEMALE    165
Name: sex, dtype: int64

In [23]:
# Substituting the NaN values using the 'Male'
penguins_size['sex'] = penguins_size['sex'].fillna('MALE')

In [25]:
penguins_size.drop(axis = 0, inplace = True, index = 334)
penguins_size.isna().sum()

species              0
island               0
culmen_length_mm     2
culmen_depth_mm      2
flipper_length_mm    2
body_mass_g          2
sex                  0
dtype: int64